/* Font faces */
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "League Gothic";
  src: url("../fonts/LeagueGothic-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "League Gothic";
  src: url("../fonts/LeagueGothic-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "League Gothic";
  src: url("../fonts/LeagueGothic-CondensedRegular.otf") format("opentype");
  font-weight: 400;
  font-stretch: condensed;
  font-style: normal;
}

@font-face {
  font-family: "League Gothic";
  src: url("../fonts/LeagueGothic-CondensedItalic.otf") format("opentype");
  font-weight: 400;
  font-stretch: condensed;
  font-style: italic;
}

/* Paged media setup for WeasyPrint */
@page {
  size: A4;
  margin: 0;
}

:root {
  --primary-color: #E58900;
  --secondary-color:  #22547A;
  --light-color: #656C81;
  --ultra-light-color: #F0F0F0;
}

html, body {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "League Gothic", "PT Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.sidebar ul,
.content ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.sidebar li,
.content li {
  margin-left: 0;
}

/* Layout styles */
.background-div {
  position: absolute;
  top: 0;
  left: 0;
  /* please note that WeayPrint doesn't support calc() */
  width: 70mm; /* 1/3 of A4 width (210mm) */
  height: 297mm; /* A4 height */
  background-color: var(--secondary-color);
  z-index: -10;
}

.cover-page {
  display: flex;
  flex-direction: row;
}

.page {
  display: flex;
  flex-direction: column;
  margin: 18mm;
}

.sidebar {
  width: 33.333333%;
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  break-inside: avoid;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  color: white;
}

.sidebar-image {
  width: 46mm;
  height: 46mm;
  border: 3pt solid white;
  border-radius: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

.sidebar-section-title {
  background-color: var(--primary-color);
  border-radius: 0;
  text-transform: uppercase;
  padding: 0.25em 0.75em;
  letter-spacing: 0.1em;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: center;
}

.sidebar-section-field {
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 0.05em;
  margin-bottom: -0.7em; /* no idea why this is necessary */
}

.sidebar-section-value {
  margin-bottom: 1em;
  font-size: 0.9em;
}

.sidebar-section-value a {
  color: inherit;
  text-decoration: none;
}

.content {
  width: 66.666667%;
  padding-left: 1.5rem;
  padding-top: 2rem;
  padding-right: 4rem;
}

.tech-icons {
  text-align: right;
  margin-bottom: 1rem;
}

.tech-icon {
  display: inline-block;
  height: 23mm;
  width: auto;
  margin-left: 4mm;
  vertical-align: middle;
}

.summary {
  margin-bottom: 1em;
}

.summary p {
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.summary .highlighted {
  font-weight: bold;
  font-style: normal;
}

.content-headline {
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.content-skill-group {
  margin-bottom: 1em;
}

.content-skill-section-title {
  letter-spacing: 0.05em;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 1.05em;
  font-weight: bold;
  margin-bottom: 0.1em;
}

.certifications {
  font-weight: bold;
}
