<div class="page">

  <h2 class="content-headline">Excerpt of Work Experience</h2>
  {% for we in profile.work_experience %}
  <div class="work-experience">
    <h3 class="work-experience-title">{{ we.title }}{% if we.contract_type %} ({{ we.contract_type }}){% endif %}</h3>
    <h4 class="work-experience-meta">{{ we.company }} | {{ we | format_duration }} | {{ we.location }}</h4>
    <div class="work-experience-technologies">
      {% for tech_category, tech_list in we.technologies.items() %}
        <span class="work-experience-technologies-group"><strong>{{ tech_category }}: </strong>{{ tech_list | sort | join(', ') }}</span>
      {% endfor %}
    </div>
    <p class="work-experience-description">{{ we.description | safe }}</p>
    <ul class="work-experience-bullet-points">
      {% for bullet_point in we.bullet_points %}
      <li>{{ bullet_point }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}

  <h2 class="content-headline">Education</h2>
  {% for ed in profile.education %}
  <div class="education">
    <h3 class="education-title">{{ ed.degree }}</h3>
    <h4 class="education-meta">{{ ed.field_of_study }} | {{ ed.institution }} | {{ ed | format_duration }}</h4>
    <p class="education-description">
      <strong>Specialisation:</strong> {{ ed.specialisation }}<br>
      <strong>Thesis:</strong> {{ ed.thesis }}
    </p>
  </div>
  {% endfor %}
</div>
