<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ profile.name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="background-div"></div>

  <main class="page">
    <aside class="sidebar">
      <div class="sidebar-content">

        <img src="{{ profile.profile_image_path }}" alt="{{ profile.name }}" class="sidebar-image">

        <h2 class="sidebar-section-title">Personal Information</h2>

          <h3 class="sidebar-section-field">Name</h3>
          <div class="sidebar-section-value">{{ profile.name }}</div>

          <h3 class="sidebar-section-field">Location</h3>
          <div class="sidebar-section-value">{{ profile.location }}</div>

          <h3 class="sidebar-section-field">Languages</h3>
          <ul class="sidebar-section-value">
            {% for lang in profile.languages %}
            <li>{{ lang.language }}: {{ lang.proficiency }}</li>
            {% endfor %}
          </ul>

        <h2 class="sidebar-section-title">Contact</h2>

          <h3 class="sidebar-section-field">Phone</h3>
          <div class="sidebar-section-value">{{ profile.phone }}</div>

          <h3 class="sidebar-section-field">E-Mail</h3>
          <div class="sidebar-section-value">{{ profile.email }}</div>

          <h3 class="sidebar-section-field">LinkedIn</h3>
          <!-- todo: mkae this a link -->
          <div class="sidebar-section-value">{{ profile.linkedin }}</div>

        <h2 class="sidebar-section-title">Links</h2>

          <h3 class="sidebar-section-field">GitHub</h3>
          <!-- todo: mkae this a link -->
          <div class="sidebar-section-value">{{ profile.links.github }}</div>

          <h3 class="sidebar-section-field">Blog (Medium)</h3>
          <!-- todo: mkae this a link -->
          <div class="sidebar-section-value">{{ profile.links.medium }}</div>

      </div>
    </aside>

    <section class="content">

      <div class="tech-icons">
        {% for icon_path in profile.icon_paths %}
        <img src="{{ icon_path }}" alt="icon" class="tech-icon">
        {% endfor %}
      </div>

      <div class="summary">
        {% for line in profile.summary %}
        <p>{{ line | safe }}</p>
        {% endfor %}
      </div>

      <h2>Core Technologies</h2>
        <ul>
          {% for core_skill in profile.core_skills %}
          <li>
            <h3>{{ core_skill.subject }}</h3>
            <ul>
              {% for technology in core_skill.technologies %}
              <li>{{ technology.name }}: {{ technology.years }} years</li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>


      <h2>Certifications</h2>
        <ul>
          {% for certification in profile.certifications %}
          <li>{{ certification.name }} ({{ certification.code }})</li>
          {% endfor %}
        </ul>
    </section>

  </main>
</body>
</html>
