<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ profile.name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="background-div"></div>

  <div class="cover-page">
    <aside class="sidebar">
      <div class="sidebar-content">

        <img src="{{ profile.profile_image_path }}" alt="{{ profile.name }}" class="sidebar-image">

        <h2 class="sidebar-section-title">Personal Information</h2>

          <h3 class="sidebar-section-field">Name</h3>
          <div class="sidebar-section-value">{{ profile.name }}</div>

          <h3 class="sidebar-section-field">Location</h3>
          <div class="sidebar-section-value">{{ profile.location }}</div>

          <h3 class="sidebar-section-field">Languages</h3>
          <ul class="sidebar-section-value">
            {% for lang in profile.languages %}
            <li>{{ lang.language }}: {{ lang.proficiency }}</li>
            {% endfor %}
          </ul>

        <h2 class="sidebar-section-title">Contact</h2>

          <h3 class="sidebar-section-field">E-Mail</h3>
          <div class="sidebar-section-value">{{ profile.email }}</div>

          <h3 class="sidebar-section-field">LinkedIn</h3>
          <!-- todo: mkae this a link -->
          <div class="sidebar-section-value">
            <a href="https://www.linkedin.com/in/martin-winkel" target="_blank" rel="noopener noreferrer">{{ profile.linkedin }}</a>
          </div>

          <h3 class="sidebar-section-field">Phone</h3>
          <div class="sidebar-section-value">{{ profile.phone }}</div>

        <h2 class="sidebar-section-title">Links</h2>

          <h3 class="sidebar-section-field">GitHub</h3>
          <!-- todo: mkae this a link -->
          <div class="sidebar-section-value">
            <a href="https://github.com/{{ profile.links.github }}" target="_blank" rel="noopener noreferrer">@{{ profile.links.github }}</a>
          </div>

          <h3 class="sidebar-section-field">Blog (Medium)</h3>
          <!-- todo: mkae this a link -->
          <div class="sidebar-section-value">
            <a href="https://medium.com/@{{ profile.links.medium }}" target="_blank" rel="noopener noreferrer">@{{ profile.links.medium }}</a>
          </div>

      </div>
    </aside>

    <section class="content">

      <div class="tech-icons">
        {% for icon_path in profile.icon_paths %}
        <img src="{{ icon_path }}" alt="icon" class="tech-icon">
        {% endfor %}
      </div>

      <div class="summary">
        {% for line in profile.summary %}
        <p>{{ line | safe }}</p>
        {% endfor %}
      </div>

      <h2 class="content-headline">Core Technologies</h2>
        <ul>
          {% for core_skill in profile.core_skills %}
          <li class="content-skill-group">
            <h3 class="content-skill-section-title">{{ core_skill.subject }}:</h3>
            <ul>
              {% for technology in core_skill.technologies %}
              <li>{{ technology.name }}: {{ technology.years }} {% if technology.years == 1 %}year{% else %}years{% endif %}</li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>


      <h2 class="content-headline">Certifications</h2>
        <ul class="certifications">
          {% for certification in profile.certifications %}
          <li>{{ certification.name }} ({{ certification.code }})</li>
          {% endfor %}
        </ul>
    </section>
  </div>

  <div class="page">

    <h2 class="content-headline">Excerpt of Work Experience</h2>
    {% for we in profile.work_experience %}
    <div class="work-experience">
      <h3 class="work-experience-title">{{ we.title }}{% if we.contract_type %} ({{ we.contract_type }}){% endif %}</h3>
      <h4 class="work-experience-meta">{{ we.company }} | {% if we.end %}{{ we.start }} - {{ we.end }}{% else %}Since {{ we.start }}{% endif %} | {{ we.lofaction or "Remote" }}</h4>
      <div class="work-experience-technologies">
        {% for tech_category, tech_list in we.technologies.items() %}
          <span class="work-experience-technologies-group"><strong>{{ tech_category }}: </strong>{{ tech_list | sort | join(', ') }}</span>
        {% endfor %}
      </div>
      <p class="work-experience-description">{{ we.description | safe }}</p>
      <ul class="work-experience-bullet-points">
        {% for bullet_point in we.bullet_points %}
        <li>{{ bullet_point }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}

    <h2 class="content-headline">Education</h2>
    {% for ed in profile.education %}
    <div class="education">
      <h3 class="education-title">{{ ed.degree }}</h3>
      <h4 class="education-meta">{{ ed.field_of_study }} | {{ ed.institution }} | {% if ed.end %}{{ ed.start }} - {{ ed.end }}{% else %}Since {{ ed.start }}{% endif %}</h4>
      <p class="education-description">
        <strong>Specialisation:</strong> {{ ed.specialisation }}<br>
        <strong>Thesis:</strong> {{ ed.thesis }}
      </p>
    </div>
    {% endfor %}
  </div>

  <hr>
  Last updated: {{ today.strftime("%Y-%m-%d") }}
</body>
</html>
